/*
Issues, Questions:
1. Nav-bar, which font do you have to use? 
2. Nav-bar, "cambiar la alinacion vertical" Why should I? 
   I made the class top-left float to the left and now it is on the same line
   as the links.
3. Header top row is not responsive. I am not sure if I needed to implement all the 
   different div elements. The different width % for every div makes it difficult
   to maintain. I am struggling with the use of relative margins and positions. 
   Should I use percentages or absolute units px? Struggling making it
   responsive when you resize the window. The elements move all over when you make the 
   window smaller.
4. The city-scape image can only be a background image if you want to stretch it
   in the entire header section. So why does the instruction say to use the float right?
5. How to get the "Sign in..." text in the middle of the box? Vertical-align does not work.
6. The magnifiyng glass box is not places against the input box. There is no margin so why?
*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 5px;
  height: 25px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  display:inline-block;
  float: left;
  margin: 0 0 0 20px;
}

/* HEADER */

header{
  background-color: rgb(35, 101, 136);
  color:white;
  height:400px;
  background-image: url(images/city-scape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width:750px;
  Margin:0 auto;
  padding-top:25px;
}


#header-top {
  height: 40px;
  padding: 5px 10px 5px 10px;
}

header img{
  width: 100%;
  max-width:100%;
  max-height:100%;
  height:auto;
}

header a{
  text-decoration: none;
  color: rgba(255,255,255,0.6);
  margin: 5px 0 5px 0;
}

.box{
  height:35px;
  float:left;
  margin:0 auto;
}

.box-logo{
  width:10%;
  padding-right:5px;
}

.box-search {
  width:79%;
}

.box-signup {
  width:auto;
  font-size:12px;
  margin-left:15px;
}

.box-bear{
  height:25px;
  width:25px;
}

form input {
  width:96%;
  border: 1px solid #ccc;
  margin:0px;
  padding:10px 0px 10px 6px;
  background:rgb(31, 82, 111);
  margin-right:0px;
  color: rgba(255,255,255,0.8);
}
form button {
  width:35px;
  margin:0px;
  border: 1px solid #ccc;
  background:rgb(31, 82, 111);
  padding:10px 3px 10px 3px;
  color: rgba(255,255,255,0.8);
}

.left{
  float: left;
}

.right{
  float: right;
}
.clear{
  clear:both;
}

header article{
  position:absolute;
  width:31%;
}

header article p{
  margin-top:10px;
  margin-bottom: 10px;
  color: rgba(255,255,255,0.6);
}


header article button {
  background-color: rgb(240, 146, 51);
  border: 2px solid rgb(240, 146, 51);  
}


.shape-btn{
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin-top:10px;
  font-size:0.8em;
  text-align: center;
  color:rgba(255,255,255,0.6);  
  margin-top:15px;
}

h1{
  font-size: 40px;
  font-weight: 50; 
}


#collaboration{
  background-color: rgb(39, 53, 71);
  Padding:50px 0px;
  color: white;
}

#collaboration img {
  height:50%;
  width:50%;
}

#collaboration h2{
  margin-bottom:15px;
  color: rgba(255,255,255,0.8);
  font-weight:lighter;
}

#collaboration article {
  margin-left:20px;
  width:350px;
}

#collaboration ul {
  font-size: 0.8em;
  color: rgba(255,255,255,0.6);
  margin-top:5px;
}

#collaboration p{
  font-size: 0.8em;
  color: rgba(255,255,255,0.6);
  margin-top:5px;
}

#collaboration li{
  margin-bottom:15px;
  margin-left:15px;
}

#collaboration article button {
  background-color: rgb(203, 56, 55);
  border: 2px solid rgb(203, 56, 55);
}


#general-info{
  background-image: url(images/forklift.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  
}

#general-info .container{
  position:relative;
}

#general-info h2{
  margin-bottom:15px;
  color: rgba(255,255,255,0.8);
  font-weight:lighter;
}

#general-info article{
  width: 350px;
  position: absolute;
  top:90px;
}

#general-info article button {
  background-color: rgb(49, 68, 88);
  border: 2px solid rgb(49, 68, 88);
  
}

#general-info p{
  font-size: 0.8em;
  color: rgba(255,255,255,0.6);
  margin-top:5px;
}

.buildingblocks h2{
  color: rgba(0,0,0,0.6);
  text-align: center;
}

.block{
  width:250px;
  text-align: center;
  padding:10px 10px;
}